{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
<div class="full-container">
    <div class="logo-container">
        <img src="{% static 'images/nome_logo.jpeg' %}" alt="Logo Barbearia">
    </div>
    <h2 class="mb-4">Crie sua conta</h2>

    <form method="post" action="{% url 'agendamentos:cadastro_cliente' %}">
        {% csrf_token %}

        <div class="mb-3 text-start">
            <label for="id_nome_completo" class="form-label">Nome completo</label>
            <input type="text" name="nome_completo" id="id_nome_completo" class="form-control" placeholder="Digite seu nome completo" required>
        </div>

        <div class="mb-3 text-start">
            <label for="id_username" class="form-label">Nome de usuário (login)</label>
            <input type="text" name="username" id="id_username" class="form-control" placeholder="Digite um nome de usuário (sem espaços)" required>
        </div>

        <div class="mb-3 text-start">
            <label for="id_email" class="form-label">E-mail</label>
            <input type="email" name="email" id="id_email" class="form-control" placeholder="Digite seu e-mail" required>
        </div>

        <div class="mb-3 text-start">
            <label for="id_password1" class="form-label">Senha</label>
            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Crie uma senha" required>
        </div>

        <div class="mb-3 text-start">
            <label for="id_password2" class="form-label">Confirmar Senha</label>
            <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Repita a senha" required>
        </div>

        <div class="mb-3 text-start">
            <label for="id_telefone" class="form-label">Telefone</label>
            <input type="text" name="telefone" id="id_telefone" class="form-control" placeholder="(XX) XXXXX-XXXX" required>
        </div>

        <button type="submit" class="btn btn-custom w-100">Cadastrar</button>
    </form>

    <p class="mt-3">Já tem uma conta?
        <a href="{% url 'agendamentos:login' %}" class="text-success">Entrar</a>
    </p>
</div>
{% endblock %}
